.singleComment {
    border-radius: 4px;
    box-shadow: 1px 1px 6px rgba(50,50,50,0.28);
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.singleComment:nth-child(even) {
    border-left: 6px solid rgb(0, 184, 197);
}

.singleComment:nth-child(odd) {
    border-left: 6px solid rgb(0, 197, 105);
}

.commentHeader {
    padding-top: 5px;
    margin: auto;
    display: flex;
}

.userlabel {
    flex: 1;
}

.username {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.commentBody {
    overflow: hidden;
    flex: 5;
    font-size: 12px;
    line-height: 1.3;
}

.commentfooter {
    flex: 1;
    text-align: right;
    color: rgb(158, 157, 157);
    font-size: 10px;
    cursor: default;
}

.oi.oi-chat {
    padding-right: 10px;
    color: #000;
}

.replyQuote {
    border-radius: 4px;
    background: rgb(164, 219, 193);
    /* box-shadow: 1px 1px 6px rgba(50,50,50,0.28); */
    padding: 5px;
    font-size: 10px;
    margin-bottom: 4px;
    color: #2c2b2b;
}

.replyQuote label {
    margin: 0;
}

.replyQHeader {
    font-style:italic;
}

.replyQUser {
    font-weight: 800;
}

