@import url('https://fonts.googleapis.com/css?family=Patua+One');

.article {
    border-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #e6e6e6;
    margin-top: 15px;
    display: block;
    text-align: left;
    box-shadow: 1px 1px 6px rgba(50,50,50,0.28);
    background-color: #FCF7F8;
    cursor: default;
}

.all {
    border-left: 6px solid #1869B1;
}

.entertainment {
    border-left: 6px solid rgb(209, 30, 45);
}

.sports {
    border-left: 6px solid #7ec548;
}

.science {
    border-left: 6px solid rgb(159, 87, 252);
}

.health {
    border-left: 6px solid #753a88;
}

.tech {
    border-left: 6px solid rgb(123, 186, 196);
}

.videogames {
    border-left: 6px solid #0396FF;
}

.business {
    border-left: 6px solid rgb(11, 51, 118);
}

.article:hover {
    box-shadow: 3px 3px 3px rgba(50,50,50,0.28);
    background-color: #fff;
}

.artHeader, .artBody {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.artHeader {
    /* background-color: #0084CC; */
    color: #F8F8F8;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #1869B1;
}

.all .dark,
.belowPost.all .commentSubmit:hover {
    background: #43caff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #6d6ae6 0%, #43caff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #6d6ae6 0%,#43caff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #6d6ae6 0%,#43caff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6ae6', endColorstr='#43caff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.all .light,
.belowPost.all .commentSubmit {
    background: #fea6b7; /* Old browsers */
    background: -moz-linear-gradient(45deg, #8f68c5 0%, #fea6b7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #8f68c5 0%,#fea6b7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #8f68c5 0%,#fea6b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f68c5', endColorstr='#fea6b7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.entertainment .dark,
.belowPost.entertainment .commentSubmit:hover {
    background: #ef5f57; /* Old browsers */
    background: -moz-linear-gradient(45deg, #ef5f57 0%, #93344c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ef5f57 0%,#93344c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ef5f57 0%,#93344c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5f57', endColorstr='#93344c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.entertainment .light,
.belowPost.entertainment .commentSubmit {
    background: #ff9d6c; /* Old browsers */
    background: -moz-linear-gradient(45deg, #dd7671 0%, #ff9d6c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #dd7671 0%,#ff9d6c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #dd7671 0%,#ff9d6c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd7671', endColorstr='#ff9d6c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.sports .dark,
.belowPost.sports .commentSubmit:hover {
    background: #43cea2; /* Old browsers */
    background: -moz-linear-gradient(45deg, #00c788 0%, #43cea2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #00c788 0%,#43cea2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #00c788 0%,#43cea2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c788', endColorstr='#43cea2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.sports .light,
.belowPost.sports .commentSubmit {
    background: #ff9d6c; /* Old browsers */
    background: -moz-linear-gradient(45deg, #56ab2f 0%, #a8e063 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #56ab2f 0%,#a8e063 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #56ab2f 0%,#a8e063 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56ab2f', endColorstr='#a8e063',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.science .dark,
.belowPost.science .commentSubmit:hover {
    background: #614385; /* Old browsers */
    background: -moz-linear-gradient(45deg, #614385 0%, #516395 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #614385 0%,#516395 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #614385 0%,#516395 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#614385', endColorstr='#516395',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.science .light,
.belowPost.science .commentSubmit {
    background: #42275a; /* Old browsers */
    background: -moz-linear-gradient(45deg, #734b6d 0%, #42275a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #734b6d 0%,#42275a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #734b6d 0%,#42275a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#734b6d', endColorstr='#42275a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.health .dark,
.belowPost.health .commentSubmit:hover {
    background: #614385; /* Old browsers */
    background: -moz-linear-gradient(45deg, #614385 0%, #516395 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #614385 0%,#516395 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #614385 0%,#516395 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#614385', endColorstr='#516395',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.health .light,
.belowPost.health .commentSubmit {
    background: #cc2b5e; /* Old browsers */
    background: -moz-linear-gradient(45deg, #4568dc  0%, #b06ab3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4568dc  0%,#b06ab3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4568dc  0%,#b06ab3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4568dc ', endColorstr='#b06ab3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tech .dark,
.belowPost.tech .commentSubmit:hover {
    background: #614385; /* Old browsers */
    background: -moz-linear-gradient(45deg, #19547b  0%, #ffd89b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #19547b  0%,#ffd89b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #19547b  0%,#ffd89b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19547b ', endColorstr='#ffd89b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tech .light,
.belowPost.tech .commentSubmit {
    background: #cc2b5e; /* Old browsers */
    background: -moz-linear-gradient(45deg, #4ca1af   0%, #c4e0e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4ca1af   0%,#c4e0e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4ca1af   0%,#c4e0e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca1af  ', endColorstr='#c4e0e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.videogames .dark,
.belowPost.videogames .commentSubmit:hover {   
    background: #f87794; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f87794 0%, #ae599b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #f87794 0%,#ae599b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #f87794 0%,#ae599b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87794', endColorstr='#ae599b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.videogames .light,
.belowPost.videogames .commentSubmit {
    background: #aadcff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #57b9ff 0%, #aadcff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #57b9ff 0%,#aadcff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #57b9ff 0%,#aadcff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57b9ff', endColorstr='#aadcff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.business .dark,
.belowPost.business .commentSubmit:hover {   
    background: #f87794; /* Old browsers */
    background: -moz-linear-gradient(45deg, #5b86e5 0%, #36d1dc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #5b86e5 0%,#36d1dc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #5b86e5 0%,#36d1dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b86e5', endColorstr='#36d1dc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.business .light,
.belowPost.business .commentSubmit {
    background: #aadcff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #004e92 0%, #151c5e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #004e92 0%,#151c5e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #004e92 0%,#151c5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004e92', endColorstr='#151c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.image {
    width: 100px;
    height: 50px;
    border-radius: 4px;
    background-color: #fff;
    background-size: cover;
    box-shadow: 1px 1px 6px rgba(50,50,50,0.28);
    margin-right: 15px;
    float: left;
    z-index: 999;
}

.title {
    font-family: 'Patua One', sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px 2px #757575;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.artTitle {
    position: relative;
}

.title:hover {
    text-shadow: 2px 2px 2px #343a40;
}

.source { 
    padding-top: 5px;
    text-transform: uppercase;
    line-height: 1.5;
}

p {
    margin-bottom: 0;
}

.source label {
    font-size: 11px;
    padding-right: 5px;
}

.source span {
    margin-right: 15px;
    font-size: 14px;
}

.artBody {
    background-color: #FCF7F8;
    text-align: justify;
    cursor: pointer;
    font-size: 13px;
}

/* .artBody:hover{
    background-color: #fff;
} */

.misc {
    text-align: right;
    color: rgba(50,50,50,0.28);
}

.hidden {
    display: none;
}

.oi {
    cursor: pointer;
}

.liked {
    font-size: 16px;
    color: #00ffae; /* Old browsers */
}

#commentslabel {
    cursor: pointer;
}
