.belowPost {
    box-shadow: 1px 1px 6px rgba(50,50,50,0.28);
    background-color: #FCF7F8;
    padding-bottom: 20px;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    text-align: justify;
}

#commentForm {
    margin-bottom: .5rem;
    font-size: 13px;
    color: #252525;
    font-weight: 500;
}

.commentSubmit {
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px 2px #343a40;
}

.commentForm,
.commentForm label {
    text-align: justify;
}

.belowPost h5 {
    font-weight: 800;
    padding-top: 15px;
    text-align: justify;
}

.replyToComment {
    font-size: 11px;
    color: #6e6e6e;
    padding-bottom: 5px;
}