.userpageContent {
    margin-top: 20px;
}

.userpagePosts {
    border-radius: 4px;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: 1px 1px 6px rgba(50,50,50,0.28);
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    background: #43caff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #e2d1c3 0%, #f8f2eb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #e2d1c3   0%,#f8f2eb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #e2d1c3   0%,#f8f2eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2d1c3 ', endColorstr='#f8f2eb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.userpageHeader {
    text-align: left;
    cursor:default;
}

.userpageHeader > h1 {
    font-size: 62px;
    text-shadow: -2px 4px 6px rgba(50,50,50,0.28);  
}

.userpageHeader .greeting {
    border-bottom: none;
}
