@import url('https://fonts.googleapis.com/css?family=Quicksand');

@font-face {
    font-family: "COCOGOOSELETTERPRESS";
    src: url("COCOGOOSELETTERPRESS TRIAL.ttf")
}

#logo {
    font-family: 'COCOGOOSELETTERPRESS', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #343a40;
    margin-bottom: 5px;
}

.login {
    padding-bottom: 15px;
}

.btn {
    font-size: 14px;
}