.nav-item, .nav-link {
    cursor: pointer;
}

.nav-link:hover, .nav-link.hover,
.nav-link:focus, .nav-link.fovus {
    color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #ff5f6d; /* Old browsers */
    background: -moz-linear-gradient(45deg, #ff5f6d 0%, #ffc371 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ff5f6d 0%,#ffc371 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ff5f6d 0%,#ffc371 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5f6d', endColorstr='#ffc371',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    box-shadow: 0px 0px 8px rgba(50,50,50,0.28);  
    border: 1px solid #b98286; 
}