@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

.catbar {
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

.nav-tabs {
    font-size: 12px;
    border-color: #343a4080;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: #fff;
    text-shadow: 2px 1px 2px #343a40;
    transition: .2s ease-in-out;
}

.nav-tabs .nav-link.active {
    border-color: #343a4080 #343a4080 transparent;
    background: #ffaf70; /* Old browsers */
    color: #fff;
    text-shadow: 2px 1px 2px #343a40;
}

